[submodule "zebra-printing-scripts"]
	path = src/main/dist/maximo/tools/maximo/classes/psdi/zebralabel/en
	url = https://sharptree@dev.azure.com/sharptree/Maximo%20Utilities/_git/zebra-printing-scripts
